<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Creditos</h1>

    <a href="/">Inicio</a>
    <a href="/author">Creditos</a>
    <a href="/help">Ayuda</a>    

    <p>Esta practica ha sido desarrollada por Natalia Torvisco Oto</p>

    <img src="/images/fotoperfil.jpg" width="200" height="200"/>
    <p></p>
    <a href="https://github.com/natorviscoto">GITHUB Natalia Torvisco</a>

  </body>
</html>
