<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Quiz</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
   <h1>Ayuda</h1>

   <a href="/">Inicio</a>
   <a href="/author">Créditos</a>
   <a href="/help">Ayuda</a>

   <h4>¿Qué es Quiz?</h4>
   <p>Es un juego de adivinanzas</p>
   <p></p>
   <h4>¿Cómo responder?</h4>
   <p>Añada la respuesta debajo</p>
   <p></p>
   <h4>Objetivo</h4>
   <p>Ganar</p>

</body>
</html>

